In [1]:
import numpy as np
import pandas as pd
import nltk

from nltk import word_tokenize

In [5]:
df = pd.read_csv('../Datasets/bbc_text_cls.csv')

In [7]:
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [9]:
# populate word2idx
# convert documents into sequences of ints / ids / indices
idx = 0
word2idx = {}
tokenized_docs = []
for doc in df['text']:
    words = word_tokenize(doc.lower())
    doc_as_int = []
    for word in words:
        if word not in word2idx:
            word2idx[word] = idx
            idx += 1

        # save for later
        doc_as_int.append(word2idx[word])
    tokenized_docs.append(doc_as_int)

In [11]:
# Number of words
N = len(df['text'])

In [13]:
# number of words
V = len(word2idx)

In [15]:
# instantiate term-frequency matrix
# note: could have also usd count vectorizer
tf = np.zeros((N, V))

In [19]:
# populate term-frequency counts
for i, doc_as_int in enumerate(tokenized_docs):
    for j in doc_as_int:
        tf[i, j] += 1

In [23]:
# compute IDF
document_freq = np.sum(tf > 0, axis = 0) # document frequency (shape = (V, ))
idf = np.log(N / document_freq)

In [25]:
# compute TF-IDF
tf_idf = tf * idf

In [31]:
idx2word = {idx:word for word, idx in word2idx.items()}

In [33]:
# pick a random document, show the top 5 terms (in terms of tf-idf score)
i = np.random.choice(N)
row = df.iloc[i]
print("Label:", row['labels'])
print("Text:", row['text'].split("\n", 1)[0])
print('Top 5 terms:')
scores = tf_idf[i]
indices = (-scores).argsort()
for j in indices[:5]:
    print(idx2word[j])

Label: entertainment
Text: Scissor Sisters triumph at Brits
Top 5 terms:
song
angels
!
robbie
25