# Getting Started with Python (Hands-on 2)

## Module 1 -

### Problem Statement:

The computations on several operations can be a tedious task for some. Your company has
assigned a task for you to minimize the effort and enhance the productivity for several of these
tasks. Simple tasks like finding the larger number among the lot, or changing the digits of a
given number, etc.

### Tasks To be Performed:

1. For a given list that contains numbers from 1 to 20. Using a for loop, create a new list
that contains the square of each element from the given list.

In [2]:
lst = [num for num in range(1,21)]
square_lst = []
for num in lst:
    square_lst.append(num**2)
print(square_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

2. For a given dictionary that contains numbers from 1-10 as keys, and their square as
values, display each key-value pair using a for loop.

In [3]:
d = {i:i**2 for i in range(1,11)}
for key, value in d.items():
    print(f"{key}-{value}")

1-1
2-4
3-9
4-16
5-25
6-36
7-49
8-64
9-81
10-100

3. A tuple contains even numbers from 1-20. Display all the items in a tuple using a for
loop.

In [4]:
t = tuple([num for num in range(1,21)])
for num in t:
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

4. A set contains odd numbers from 1-20. Display the items in a set using a for loop.

In [5]:
s = {num for num in range(1,21) if num%2!=0}
for num in s:
    print(num)

1
3
5
7
9
11
13
15
17
19

5. For a given sequence of nested lists, display the elements using a for loop.  
a = [[1,2],[3,4],[5,6],[7,8]]

In [6]:
a = [[1,2],[3,4],[5,6],[7,8]]
for elem in a:
    print(elem)

[1, 2]
[3, 4]
[5, 6]
[7, 8]

In [7]:
a = [[1,2],[3,4],[5,6],[7,8]]
for elem in a:
    for i in elem:
        print(i)

1
2
3
4
5
6
7
8

6. For a given sequence of nested dictionaries, display all the values in the dictionary.
a = {1: {'one':1}, 2: {'two':2}, 3: {'three':3}}

In [11]:
a = {1: {'one':1}, 2: {'two':2}, 3: {'three':3}}

for i in a:
    print(a[i])
    for j in a[i]:
        print(a[i][j])

{'one': 1}
1
{'two': 2}
2
{'three': 3}
3

7. For a given list of natural numbers from 1-100, using the while loop, print only the
numbers that are divisible by 2.

In [10]:
lst = [num for num in range(1,101)]

In [11]:
index = 0
while index < len(lst):
    if lst[index]%2==0:
        print(lst[index])
    index+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

8. Print the first 5 multiples of 3 using a while loop.

In [12]:
num_of_multiples = 5
multiplier = 1
num = 3
while multiplier <= num_of_multiples:
    print(num*multiplier)
    multiplier+=1

3
6
9
12
15

9. For a given dictionary that contains the first 10 natural numbers as keys, and their cubes
as values, display the key value pairs using a while loop.

In [15]:
d = {i:i**3 for i in range(1,11)}
key_list = list(d)
count = 0
while count < len(d):
    print(key_list[count],d[key_list[count]])
    count+=1

1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729
10 1000

10. Write a program using a while loop demonstrating the usage of break, continue and pass
statements along with if else statements.

In [10]:
lst = []
while True:
    user_input = input("Enter even integers only(press q to quit, odd numbers will be ignored):")
    if user_input == 'q':
        print("User entered q. Quitting...")
        break
    else:
        user_input = int(user_input)
        if user_input % 2 == 0:
            print(f"Appended : {user_input}")
            lst.append(user_input)
            continue
        pass
        print(f"Skipped : {user_input}")
print(f'{lst=}')

Enter even integers only(press q to quit, odd numbers will be ignored):2
Appended : 2
Enter even integers only(press q to quit, odd numbers will be ignored):4
Appended : 4
Enter even integers only(press q to quit, odd numbers will be ignored):6
Appended : 6
Enter even integers only(press q to quit, odd numbers will be ignored):1
Skipped : 1
Enter even integers only(press q to quit, odd numbers will be ignored):53
Skipped : 53
Enter even integers only(press q to quit, odd numbers will be ignored):2
Appended : 2
Enter even integers only(press q to quit, odd numbers will be ignored):7
Skipped : 7
Enter even integers only(press q to quit, odd numbers will be ignored):q
User entered q. Quitting...
lst=[2, 4, 6, 2]

11. Write a program using a for loop demonstrating the usage of break, continue and pass
statements along with if else statements.

In [8]:
start= -10
end = 10
lst = []
for i in range(start, end):
    if i == 0:
        print("Encountered zero. Quitting...")
        break
    elif i%3 == 0:
        lst.append(i)
        print(f'Appended : {i}')
        continue
    else:
        print(f"Skipped : {i}")
        pass
print(f'{lst=}')

Skipped : -10
Appended : -9
Skipped : -8
Skipped : -7
Appended : -6
Skipped : -5
Skipped : -4
Appended : -3
Skipped : -2
Skipped : -1
Encountered zero. Quitting...
lst=[-9, -6, -3]

12. Create a nested for loop to print a pyramid pattern program in python.

In [3]:
no_of_lines = 5
mark = '*'
for i in range(no_of_lines):
    print(' '*(no_of_lines-1-i), end = "")
    for j in  range(2*i+1):
        print(mark, end='')
    print()

    *
   ***
  *****
 *******
*********