In [1]:
import pandas as pd
import numpy as np

In [2]:
''' Pandas Dataframe '''
# Create a dataframe using an array
pd.DataFrame([1, 2, 3, 4, 5])

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
# Create a dataframe using an 2d array
data = [['John', 56], ['Johnny', 21], ['Joe', 54]]
df = pd.DataFrame(data, columns = ['Name', 'Age'])
df

     Name  Age
0    John   56
1  Johnny   21
2     Joe   54

In [4]:
# Create a dataframe using a dictionary
df = pd.DataFrame({'Name': ['Anthony', 'Jimmy', 'Dave', 'Ricky'], 'Age': [35, 45, 40, 42]})
df

      Name  Age
0  Anthony   35
1    Jimmy   45
2     Dave   40
3    Ricky   42

In [5]:
# Import data from a csv file
df = pd.read_csv('sample.csv')
df

     name  age
0  Name#1   11
1  Name#2   12
2  Name#3   13
3  Name#4   14